<template>
  <div class="hello">
    <b-button
      variant="primary"
      v-b-tooltip.left
      title="Tooltip content here!"
      class="mb-4"
    >
      A directive tooltip
    </b-button>

    <br />

    <b-button variant="warning" id="tooltip-button" class="mb-4">
      A component tooltip
    </b-button>
    <b-tooltip target="tooltip-button" placement="right">
      Hello <strong>World!</strong>
    </b-tooltip>

    <br />

    <b-button
      variant="danger"
      v-b-popover.hover.right="'I am popover content!'"
      title="Popover Title"
      class="mb-4"
    >
      A directive popover
    </b-button>

    <br />

    <b-button id="popover-button" variant="info" class="mb-4">
      A component popover
    </b-button>
    <b-popover
      target="popover-button"
      placement="left"
      title="Popover!"
      triggers="hover focus"
      content="Popover content here!"
    ></b-popover>
  </div>
</template>

<script>
import {
  BTooltip,
  BPopover,
  VBTooltip,
  VBPopover,
  BButton,
} from 'bootstrap-vue';

export default {
  name: 'HelloWorld',
  directives: {
    'b-tooltip': VBTooltip,
    'b-popover': VBPopover,
  },
  components: {
    BButton,
    BTooltip,
    BPopover,
  },
  props: {
    msg: String,
  },
};
</script>

<style lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
